%div(id='AddRestaurant')
  %h3= link_to "Add a restaurant", new_restaurant_path
- if @restaurants.any?
  %div(id='row')
    - @restaurants.each do |restaurant|
      %div(id='restaurant' class="col-sm-6 col-md-4")
        %h2= link_to restaurant.name, restaurant_path(restaurant)
        %i= restaurant.description
        - if restaurant.average_rating.is_a? String
          %h4 Average rating: N/A
        - else
          %h4 Average rating: #{restaurant.average_rating.round(1)}
          #{star_rating(restaurant.average_rating)}
        %h5= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
        - if current_user
          - if current_user.id === restaurant.user_id
            %h5= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
            %h5= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete


- else
  No restaurants yet
