%div(id='AddRestaurant')
  %h3= link_to "Add a restaurant", new_restaurant_path
- if @restaurants.any?
  %div(id='row')
    - @restaurants.each do |restaurant|
      %div(id='restaurant' class="col-sm-6 col-md-4")
        %div(id='restaurant_label')
          %h4= link_to restaurant.name, restaurant_path(restaurant)
        %div(id='restaurant_body')
          %i= restaurant.description
          - if restaurant.average_rating.is_a? String
            %h5 AVERAGE RATING: N/A
            %p There are no reviews for this establishment yet. Why not leave the first?
          - else
            %h5 AVERAGE RATING: #{restaurant.average_rating.round(1)}
            #{star_rating(restaurant.average_rating)}
            %p= "Based on #{restaurant.reviews.count} reviews."
          %p= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
          - if current_user
            - if current_user.id === restaurant.user_id
              %h5= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
              %h5= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete


- else
  No restaurants yet
