%p= @restaurant.name
%h5= @restaurant.description

- if @restaurant.average_rating.is_a? String
  %h4 Average rating: N/A
- else
  %h4 Average rating: #{@restaurant.average_rating.round(1)}
  #{star_rating(@restaurant.average_rating)}
- if @restaurant.reviews == []
  %h4 There are no reviews for this establishment yet. Why not leave the first?
- else
  %h4'Reviews and Ratings:'
  -@restaurant.reviews.each do |review|
    %review
      %h5= link_to "Endorse", restaurant_review_endorsements_path(@restaurant, review), method: :POST
      %p= "#{review.thoughtsandfeelings} - Rating: #{review.rating}"
      %p= pluralize review.endorsements.count, 'endorsement'

%h5= link_to "Review #{@restaurant.name}", new_restaurant_review_path(@restaurant)
